#  Compiled source   #
######################
*.py[co]

config.py

#vim files
*sw?

*zip
*tar

#useless stuff from tvdb_api repository
lib/tvdb_api/.gitignore
lib/tvdb_api/Rakefile
lib/tvdb_api/readme.md
lib/tvdb_api/setup.py
lib/tvdb_api/tests/

#local_config
local_config.py

#ignore rep
ignore
